<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>{{ self.title() }}</h1>
      <br>
      <div id="main">
        <li><a href="/">Home</a></li>
        <li>
          {% if current_user.is_anonymous() %}
          <a href="{{url_for('skialp.register')}}">Register</a> / <a href="{{url_for('skialp.login')}}">Log In</a>
          {% else %}
          Logged in as {{current_user.email}} <a href="{{url_for('skialp.logout')}}">Logout</a>
          {% endif %}
          {% block content %}{% endblock content %}
        </li>
      </div>
    </div>
    <!-- scripts -->
    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
    -->
  </body>
</html>
